<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <main>
        <h1>Greetings From Node.js</h1>
        <h2>Enter User and View List !!</h2>
    </main>
</body>
</html>